/* YouTube API  CSS */
* {
	box-sizing: border-box;
}

body {
  background-color: #7991b7;
}

fieldset {
  padding: 20px;
  width: 55%;
}
 
button {
	border-radius: 3px;
}

.results-banner {
	color: #35373a;
}

.legend-banner {
	color: red;
	font-weight: bold;
	font-size: 120%;
}

.result-box {
	height: 150;
	width: 80%;
	margin: auto;
	padding: 10px;
	margin-bottom: 15px;
   box-shadow: 5px 5px 5px gray;
	background-color: #a3bce2;
}

.description-box {
	font-style: italic;
}

.thumbnail {
  display: inline-block;
  cursor: pointer;
  height: 60px;
}

.title {
	padding-left: 10px;
	font-size: 120%;
}

.description {
	padding: 5px;
}

a:hover {
  box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
  max-height: 100%;
}

.center {
	text-align: center;
}

.no-display {
	display: none;
}

.lightbox {
	position: absolute;
	top: 10;
	left: 500;
	width: 460;
	height: 360;
	background-color: lightblue;
}
