/* YouTube API  CSS */
* {
	box-sizing: border-box;
}

body {
  background-color: #7991b7;
}

.search-box {
  padding: 20px;
  width: 95%;
  border: 1px solid red;
}

.result-box {
	height: 150;
	width: 90%;
	margin: auto;
	padding: 10px;
	border: 1px solid green;
}

.description-box {
	font-style: italic;
}

.thumbnail {
  display: inline-block;
  cursor: pointer;
  height: 60px;
}

a.thumbnail:hover {
  box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
  max-height: 100%;
}
